- @sitename = "Christopher T. Gore, Attorney at Law"

// MAIN NAVIGATION
- @link1 = ["Home", "/home"]
- @link2 = ["About", "/about"]
- @link3 = ["Services", "/services"]
- @link4 = ["Gallery", "/gallery"]
- @link5 = ["Contact", "/contact"]



!!! 5
%html
  %head
    %title= @sitename + @title + @subtitle

    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/

    %link{:href => "/images/favicon.png", :rel => "icon"}
    %link{:href => "/images/appleIcon-1.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/appleIcon-2.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/appleIcon-3.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %link{:href => "stylesheets/font-face.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

    %script{:type => "text/javascript", :src => "javascripts/respond.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/modernizr-1.6.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/application.js"}

    // MOBILE FOOTER FIX
    :javascript
      //$(document).ready(function () {
        if(
          navigator.userAgent.match(/Android/i) ||
          navigator.userAgent.match(/webOS/i) ||
          navigator.userAgent.match(/iPhone/i) ||
          navigator.userAgent.match(/iPod/i) ||
          navigator.userAgent.match(/iPad/i)
        ){
          $('head').append('<link rel="stylesheet" href="stylesheets/mobile.css" type="text/css" />');
        }
      //}

    // INTERNET EXPLORER STYLE
    /[if IE]
      <link rel="stylesheet" type="text/css" href="/stylesheets/all-ie-only.css" />

          
  %body{:class => @body_class, :onorientationchange =>"ipadFunc();"}
    .m3c-bar
      .copyright
        :markdown
          Copyright &copy; 2011-#{Time.now.year} [#{@sitename}](#). All Rights Reserved.
      .powered-by
        :markdown
          Powered by [Media 3 Creative](http://media3creative.com/)
    = yield :background
    #logo1
      %a{:href => @link1[1]}
        %img{:src => "/images/logo.png", :alt => ""+@sitename+" Logo"}
    #topnav
      %a#one{:href => @link1[1]}
        =@link1[0]
      %a#two{:href => @link2[1]}
        =@link2[0]
      %a#three{:href => @link3[1]}
        =@link3[0]
      / %a#four{:href => @link4[1]}
      /   =@link4[0]
      %a#five{:href => @link5[1]}
        =@link5[0]


    .content
      = yield

              
                  
          
          
